.box1{
    background-color: blue !important; 
    height: 120px !important;
}

.redes{
    font-size: 60 !important;
    color: white ;
}

.box2{
    background-color: blue; 
    height: 60px !important ;
}

.texto{
    color: white
}